@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #0D1828;
}

.bg-color-personal-info {
    background-color: #0D182859;
}

.bg-color-three-reasons {
    background-color: #0d18287c;
}

.bg-color-gallery {
    background-color: #fff;
}

.bg-color-work-history {
    background-color: #0d182859;
}

.ui-menu-color-home {
    background-color: #20a8df;
}

.ui-menu-color-resume {
    background-color: #9B19FF;
}

.ui-menu-color-contact {
    background-color: #FBED20;
}

.ui-menu-color-download {
    background-color: #0AFF71;
}

/*---------------------------------------------------------------------paddings/margins/text*/

h1,
h2,
h3,
h4 {
    margin:0;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}



/*---------------------------------------------------------------------heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/Penguins.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:360px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #0D1828;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #0D1828;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}



/*---------------------------------------------------------------------hover*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
}

/*---------------------------------------------------------------------personal info*/ 

.personal-info-heading {
    color: #fafafa;
}

.personal-info-item {
    margin-bottom: 10px;
    margin-top: 50px;
    display: block;
    clear: both;
    color: #fafafa;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
    color:#fafafa;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/*---------------------------------------------------------------------gallery*/

/*-----------------------------carousel*/

  .entire-content {
    margin: auto;
    width: 300px;
    perspective: 1000px;
    position:relative;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .content-carrousel {
    width: 100%;
    height: 100%;
    position: absolute;
    float:none;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
  }
  .content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  .content-carrousel figure {
    width: 80%;
    max-width: 300%;
    max-height: 300px;
    border: 1px solid #3b444b;
    position: flex;
  }
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(60deg) translateZ(320px); 
  } .content-carrousel figure:nth-child(2) {
    transform: rotateY(120deg) translateZ(320px); 
  } .content-carrousel figure:nth-child(3) {
    transform: rotateY(180deg) translateZ(320px); 
  } .content-carrousel figure:nth-child(4) {
    transform: rotateY(240deg) translateZ(320px); 
  } .content-carrousel figure:nth-child(5) {
    transform: rotateY(300deg) translateZ(320px); 
  } .content-carrousel figure:nth-child(6) {
    transform: rotateY(360deg) translateZ(320px); 
  } 

  .shadow {
      position: absolute;
      box-shadow: 0px 0px 20px 0px #000;
      border-radius: 1px;
  }
  .content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  .content-carrousel img:hover {
    transform: scale(1.5);
    transition: all 300ms;
  }
  @keyframes rotar {
    from {
      transform: rotateY(0deg);
    } to {
      transform: rotateY(360deg);
    }
  }

  #gallery {
    height:300px;
    max-width: 100%;
  }


/*-----------------------------slider*/

.container{
    width: 90%;
    height: 80%;
    position: relative;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
}


.container .slides{
    width: 550%;
    height: 100%;
    display: flex;
}

.slides .slide{
    width: 20%;
    transition: 0.8s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slides input{
    position: absolute;
    visibility: hidden;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navigation .bar{
    width: 50px;
    height: 15px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

#radio1:checked ~ .s1{
    margin-left: 0;
}
#radio2:checked ~ .s1{
    margin-left: -20%;
}
#radio3:checked ~ .s1{
    margin-left: -40%;
}
#radio4:checked ~ .s1{
    margin-left: -60%;
}
#radio5:checked ~ .s1{
    margin-left: -80%;
}

#radio1:checked ~ .navigation .bar1{
    background: #fff;
}
#radio2:checked ~ .navigation .bar2{
    background: #fff;
}
#radio3:checked ~ .navigation .bar3{
    background: #fff;
}
#radio4:checked ~ .navigation .bar4{
    background: #fff;
}
#radio5:checked ~ .navigation .bar5{
    background: #fff;
}



/*---------------------------------------------------------------------Footer*/

footer {
    background-color: #0D1828;
    color: #fafafa;
    min-height: 200px;
    padding-top:50px;
    margin: 0;
}

.container-fluid {
    margin:0;
}

.resume-pdf i {
    font-size: 16px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resume-pdf i:hover {
    color: #4267B2;
}

/*---------------------------------------------------------------------social icons*/

.icons {
    display: inline-flex;
    padding: 12px 0;
}

.icons a {
    margin: 15px 8px 40px 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.icons a .layer {
    width: 35px;
    height: 35px;
    transition: transform 0.3s;
}

.icons a:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.icons a .layer span.fa {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #4267B2;
  border-color: #4267B2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
  color: #1DA1F2;
  border-color: #1DA1F2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
  color: #2867B2;
  border-color: #2867B2;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
  color: #ff0000;
  border-color: #ff0000;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
  color: #E1306C;
  border-color: #E1306C;
}

.icons a:nth-child(6) .layer span,
.icons a:nth-child(6) .text{
  color: #ff0000;
  border-color: #ff0000;
}

.icons a:hover:nth-child(1) .layer span {
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:hover:nth-child(2) .layer span {
    box-shadow: -1px 1px 3px #1DA1F2;
}

.icons a:hover:nth-child(3) .layer span {
    box-shadow: -1px 1px 3px #2867B2;
}

.icons a:hover:nth-child(4) .layer span {
    box-shadow: -1px 1px 3px #ff0000;
}

.icons a:hover:nth-child(5) .layer span {
    box-shadow: -1px 1px 3px #E1306C;
}

.icons a:hover:nth-child(6) .layer span {
    box-shadow: -1px 1px 3px #ff0000;
}

.icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
    bottom: -35px;
    opacity: 1;
}


/*---------------------------------------------------------------------three reasons*/

.three-reasons-icon {
    font-size: 35px;
    color: #0D1828;
    padding-left: 10px;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

.three-reasons {
    color: #fafafa;
}

/*---------------------------------------------------------------------Work History*/


.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}


.history-items {
    margin-bottom: 30px;
}

/*---------------------------------------------------------------------Progress*/


.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}